.startContainer {
  background-color: #e4f3fd;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  max-width: 600px;
  width: 100%;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 24px; /* Set font size for the title */
  font-weight: bold; /* Make the title bold */
  color: #333; /* Dark color for better readability */
  margin-bottom: 20px; /* Space below the title */
  text-align: center; /* Center the title text */
}
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  margin: 10px;
  background-color: #007bff; /* Button background color */
  color: white; /* Button text color */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded button corners */
  padding: 10px 20px; /* Button padding */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s, transform 0.2s; /* Smooth transition for hover effects */
}

.button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.button:active {
  transform: scale(0.95); /* Scale down on click for animation */
}

/* Media query for mobile responsiveness */
@media (max-width: 600px) {
  .startContainer {
    padding: 15px;
    width: 80%;
  }
  .btns {
    flex-direction: column;
  }

  .title {
    font-size: 20px; /* Smaller font size for the title */
  }

  .button {
    padding: 8px 16px; /* Adjust button padding */
  }
}
